/.vs/LuizLabsWhishes/DesignTimeBuild
/.vs/LuizaLabsWishes/v16
/LuizaLabs.Api/obj
/LuizaLabs.Application.Api/bin/Debug/netcoreapp2.1
/LuizaLabs.Application.Api/obj/Debug/netcoreapp2.1
/LuizaLabs.Application.Api/obj
/LuizaLabs.Domain.Entities/bin/Debug/netcoreapp2.1
/LuizaLabs.Domain.Entities/obj/Debug/netcoreapp2.1
/LuizaLabs.Domain.Entities/obj
/LuizaLabs.Domain.Service/bin/Debug/netcoreapp2.1
/LuizaLabs.Domain.Service/obj/Debug/netcoreapp2.1
/LuizaLabs.Domain.Service/obj
/LuizaLabs.Infra.Data/bin/Debug/netcoreapp2.1
/LuizaLabs.Infra.Data/obj/Debug/netcoreapp2.1
/LuizaLabs.Infra.Data/obj
/LuizaLabs.UnitTest/bin/Debug/netcoreapp2.1
/LuizaLabs.UnitTest/obj/Debug/netcoreapp2.1
/LuizaLabs.UnitTest/obj
/LuizaLabs.Application.Api/bin/Debug/netcoreapp2.2
/LuizaLabs.Domain.Entities/bin/Debug/netcoreapp2.2
/LuizaLabs.Domain.Service/bin/Debug/netcoreapp2.2
/LuizaLabs.Infra.Data/bin/Debug/netcoreapp2.2
/.vs/LuizaLabsWishes/DesignTimeBuild
/LuizaLabs.Infra.Cross/obj/Debug/netcoreapp2.2
/.vs/LuizaLabsWishes/config
/LuizaLabs.Infra.Cross/obj
